$doNotDelete: '';

/* Главный цвет */
//$primeColor: #FF305E;
$primeColor: rgb(251, 169, 173);
//$primeColor: rgb(235, 205, 70);

/* Цвет текста */
$textColor: #000;

/* Верхняя панель в разделах */
$top-panel--height: 40px;
$top-panel--brandHeight: 20px;
$top-panel--color: darken($primeColor, 5%);

/* Стандартный размер шрифта */
$fontsize: 16px;

/* Папка с пикчами */
$imgpath: '/files/img';
