/* Версия проекта */
$projectVer: '2.1.8';

/* Главный цвет */
$primeColor: #7ed8d8;

/* Цвета градиента */
$gradientColorTop: rgb(214, 63, 105);
$gradientColorBottom: rgb(134, 88, 136);

/* Цвет текста */
$textColor: #000;

/* Верхняя панель в разделах */
$top-panel--height: 40px;
$top-panel--brandHeight: 20px;

/* Стандартный размер шрифта */
$fontsize: 16px;

/* Папка с пикчами */
$imgPath: '/files/img';
