$doNotDelete: '';

/* Версия проекта */
$projectVer: '2.1.4';

/* Главный цвет */
$primeColor: #94320f;

/* Цвета градиента */
$gradientColorTop: rgb(147, 58, 30);
$gradientColorBottom: rgb(210, 60, 5);

/* Цвет текста */
$textColor: #000;

/* Верхняя панель в разделах */
$top-panel--height: 40px;
$top-panel--brandHeight: 20px;

/* Стандартный размер шрифта */
$fontsize: 16px;

/* Папка с пикчами */
$imgPath: '/files/img';
