// main: ../../pages.scss

@media screen and (max-width: #{$pagewidth - 1px}) {
	.container {
		width: 100%;
		padding: 0 10px;
	}

	.top-panel {
		.container {
			text-align: center;
		}

		.logo {
			margin-right: 0;
		}

		.brand {
			display: none;
		}
	}

	.page {
		padding: 0 1em;
	}
}
