doctype html
html(lang='ru')
	head
		include inc/vars.pug

		meta(charset='utf-8')
		title #{title} / Авторизация

		include inc/meta-viewport.pug

		link(rel='shortcut icon' href=`${URLs.favicon}`)
		meta(name='robots' content='noindex, follow')

		style body { display: flex; justify-content: center } div { text-align: center } input { display: block; width: 100%; margin-top: 5px }
	body
		form(name='login' action='/api/admin.php' method='post')
			div
				img(src=`${URLs.favicon}?v=${VERSION}` alt='')
			p
				label(for='login') Имя пользователя или e-mail
				input(type='text' id='login' name='login' maxlength='42' autocomplete='off' required)
			p
				label(for='pass') Пароль
				input(type='password' id='pass' name='pass' maxlength='42' autocomplete='off' required)
			p
				input(type='submit' name='auth' value='Войти')
