@import 'inc/vars';
@import 'inc/mixins';

$pagewidth: 1000px;

:root {
	--tab-hover-color: darken($primeColor, 8%);
	--tab-focus-color: darken($primeColor, 6%);
	--tab-active-color: darken($primeColor, 13%);
	--tab-border-color: darken($primeColor, 3%);
}

@import 'inc/anime/themes';

//@import 'inc/anime/special';

.container {
	button[data-js-action='sidebarTrigger']:before {
		content: '\00D7'
	}

	&[data-sidebar-hidden] {
		button[data-js-action='sidebarTrigger']:before {
			content: '\003C'
		}

		.player {	width: 100% }
		.sidebar { display: none }
	}
}

.anime {
	width: 100%;
	height: calc(100vh - #{$top-panel--height});

	&.error {
		& > * { display: none }
		.error-box { display: block }
	}

	.error-box {
		display: none;
		width: 100%;
		padding: 10px;

		font-size: 16px;
		text-align: center;

		p {
			margin: 5px 0;
		}
	}
}

.content {
	width: 100%; height: 100%;
	background-color: #000;

	& > * {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	$sidebarWidth: 400px;
	$resizeControl: 0; // @TODO сделать ресайз

	.player {
		width: calc(100% - #{$sidebarWidth + $resizeControl});
		position: relative;
		overflow: hidden;
	}

	.sidebar {
		width: $sidebarWidth;
		background-color: #fff;

		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}

@import 'inc/anime/player'; // Стилизация плеера и находящихся в нём элементов
@import 'inc/anime/tabs';

@import 'inc/anime/mediaq';
