@import 'inc/vars';
@import 'inc/mixins';

:root {
	--prime-color: $primeColor;
	--prime-color-5d: darken($primeColor, 5%);
	--gradint-color-top: rgb(214, 63, 105);
	--gradint-color-bottom: rgb(134, 88, 136);
	--shadow: 0 5px 20px rgba(0, 0, 0, .5);
	--font-size: 18px;
}

@include reset;
@include selection(var(--prime-color-5d), #fff);

$pagewidth: 960px;

@import 'inc/scrollbar';

body {
	@at-root html, & {
		width: 100%; height: 100%;

		overflow-x: hidden;
		font-size: 0;
	}

	background-image: url('#{$imgPath}/main/bckg.png?v=#{$projectVer}'), linear-gradient(to bottom, $gradientColorBottom, $gradientColorTop);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.top-panel, .page {
	width: 100%;
	text-align: center;
}

.container {
	width: $pagewidth;
	font-family: Roboto, Arial, sans-serif;
	margin: 0 auto;
}

@import 'inc/main/top-panel';
@import 'inc/pages/page';
@import 'inc/main/footer';

@import 'inc/main/events';

@import 'inc/pages/mediaq';
