@import 'inc/vars';
@import 'inc/mixins';

@include reset;
@include selection(darken($primeColor, 5%), #fff);

.player-container {
	@include flexbox(auto, space-between, auto, auto);
	user-select: none;

	font-family: Roboto, Arial, sans-serif;
	font-size: 0;

	overflow: hidden;

	position: relative;
	width: 100%; height: 40px;

	@import
		'inc/player-app/container--themes', // Светлая тема плеера
		'inc/player-app/container--states'; // "Состояния" плеера (если онлайн и если оффлайн)
} // .player-container

.player-elem {
	@include flexbox(auto, center, center, auto);
	font-size: 16px;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	height: 100%;
	padding: 0 5px 0 5px;

	border-right: 1px solid #000;

	// &:last-child {
	// 	border-right: 0;
	// }

	@import
		'inc/player-app/elem--controls', // Селектор с управляющими элементами плеера
		'inc/player-app/elem--songnow'; // Селектор блока с треком, играющим в данный момент

	&.djname {
		min-width: 160px;

		&[title] {
			cursor: help;
		}
	}

	&.listeners {
		min-width: 40px;
		border-right: 0 !important; // ставить в другое место, если этот элемент станет не последним
		&[title] {
			cursor: help;
		}
	}
} // .player-elem

.player-ctrl {
	display: inline-block;
	height: 1em;
	cursor: pointer;
	@include inline-middle;
	@include transition(.2s);

	// &.playpause:hover, &.playpause:active,
	// &.mute:hover, &.mute:active {
	// 	opacity: .8;
	// }

	/* Стилизация бегунка выбора громкости */
	@import 'inc/player-app/ctrl--volume';
} // .player-ctrl

.noframe {
	text-align: center;
	font-size: 2em;

	a {
		text-decoration: none;
		color: #000;

		&:visited {
			color: #000;
		}

		&:hover {
			color: red;
		}
	}
}

@import 'inc/player-app/mediaq';
