@import 'inc/vars';
@import 'inc/mixins';

body {
	background-color: #f4f4f4;
	background-image: url('#{$imgPath}/radio-bckg.png?v=#{$projectVer}');
	background-position: top center;
}

:root {
	--volume: 50%;
}

@keyframes loading-anim {
	0% { opacity: 1 }
	25% { opacity: .75 }
	50% { opacity: .5 }
	75% { opacity: .75 }
	100% { opacity: 1 }
}

$pageWidth: 1200px;
$fontSize: 16px;

.radio {
	@include flexbox(auto, center, auto, auto);
	width: $pageWidth;
	margin: 10px auto;

	& > * {
		// display: inline-block;
		// vertical-align: top;
		font-size: $fontSize;
	}

	&--pe { // page-element
		background-color: #fff;
		box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
		border-radius: 2px;
	}

	$sideWidth: 320px;

	.content {
		width: 100%;
		order: 1;
	}

	aside {
		width: $sideWidth;
		min-width: $sideWidth;
		order: 2;
	}

	&.error {
		& > * { display: none }
		.error-box { display: block }
	}

	.error-box {
		display: none;
		width: 100%;
		padding: 10px;
		text-align: center;

		p {
			margin: 5px 0;
		}
	}
}

.content {
	.chat {
		padding: 5px;

		iframe {
			width: 100%;
			height: 450px;
			border: 0;
		}
	}

	@import 'inc/radio/content__vk-news';
}

aside {
	$sideBckgColor: #ccc;
	padding-left: 15px;

	.side-content {
		//background-color: $sideBckgColor;
		margin-bottom: 10px; // @TODO совместить маргины

		&:empty {
			display: none;
		}
	}

	button {
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}

	@import 'inc/radio/aside__noti';
	@import 'inc/radio/aside__player';
	@import 'inc/radio/aside__radio-state';
	@import 'inc/radio/aside__sched';

	.radio-live {
		$lstnWidth: 35px;
		$lstnMargin: 10px;

		@include flexbox(row, center, auto, auto);
		text-align: center;

		.curr-rj {
			width: calc(100% - #{$lstnWidth + $lstnMargin});
			font-size: .9em;
			padding: 5px;

			p {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;

				&:first-child {
					font-size: 1.1em;
				}

				&:last-child {
					font-style: italic;
				}
			}
		}

		.curr-lstn {
			@include flexbox(auto, center, center, auto);
			width: $lstnWidth;
			margin-left: $lstnMargin;

			user-select: none;
			cursor: help;
		}
	}

	.songs-box {
		font-size: .9em;
		padding: 0;

		table {
			width: 100%;
			padding: 5px;

			caption {
				margin-top: 5px;
				font-size: 1.1em;
			}

			tr {
				td {
					padding: 2px;
					vertical-align: middle;
				}

				td:nth-child(odd) {
					max-width: 100px;
					font-weight: 500;
					text-align: center;
				}

				td:nth-child(even) {
					padding-left: 5px;;
				}
			}
		}
	}

	.aside-note {
		border-top: 1px solid rgba(0, 0, 0, .1);
		padding: 5px 2.5px;
		font-size: .9em;
		text-align: center;

		user-select: none;
		cursor: default;
	}

	.radio-error {
		text-align: center;
		padding: 5px;
	}
}

menu[type="context"] {
	display: none;
}

@import 'inc/radio/footer';
@import 'inc/radio/mediaq';
