::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
  	background: darken($primecolor, 30%);
		height: 5px;
}

::-webkit-scrollbar-track-piece {
    background: darken($primecolor, 20%);
}

::-webkit-scrollbar-thumb {
			background: $primecolor;
			@include transition(.3s);

			&:hover {
				background: lighten($primecolor, 5%);
			}
}
