// main: ../../player.scss

@media screen and (max-width: 449px) {
	.player-container {
		.player-elem {
			&.songnow {
				border-right: 0;

				.player-song.search {
					display: none !important;
				}
			}

			&.djname, &.listeners, &.reload {
				display: none !important;
			}
		}
	}
}

@media screen and (max-width: 199px) {
	.player-container {
		.player-elem {
			&.controls {
				border-right: 0;
				width: 100% !important;
			}

			&.songnow {
				display: none !important;
			}
		}
	}
}
