// main: ../../radio.scss

.player {
	@include flexbox(auto, center, auto, auto);
	$elemHeight: 50px;
	padding: 0;

	user-select: none;
	cursor: default;

	& > * {
		@include flexbox(auto, center, center, auto);
		@extend .page-element;
		height: $elemHeight;
	}

	&-controls {
		$ctrlColor: $primeColor;
		background-color: #fff;
		font-size: 0;

		[data-ctrl='playpause'] {
			height: 100%; width: $elemHeight;
			border-right: 1px solid rgba(0, 0, 0, .1);

			color: $ctrlColor;
			@include transition(.5s);

			&:hover {
				color: lighten($ctrlColor, 5%);
			}

			.icon {
				font-size: 2em;
			}
		}

		[data-ctrl='volume'] {
			$elemHeight: 15px;
			cursor: pointer;
			width: 100px; height: $elemHeight;
			margin: 0 10px;
			border: 1px solid rgba(0, 0, 0, .1);

			@each $browser, $track, $range in (webkit, 'slider-runnable', slider), (moz, range, range) {
				-#{$browser}-appearance: none;

				&::-#{$browser}-#{$track}-track {
					height: 100%;
					background: linear-gradient(to right, $ctrlColor 0%, $ctrlColor var(--volume), transparent var(--volume), transparent 100%);
				}

				&::-#{$browser}-#{$range}-thumb {
					$btn-color: #fff;
					-#{$browser}-appearance: none;
					width: 10px; height: #{$elemHeight + 10px};
					margin-top: #{10px / 2 * -1};
					background-color: $btn-color;
					border: 1px solid #999;
					cursor: pointer;
					border-radius: 0;

					@include transition(.2s);

					&:hover {
						background-color: darken($btn-color, 5%);
					}

					&:active {
						background-color: darken($btn-color, 10%);
						transform: scale(1.1);
					}
				}
			}
		}
	}

	&-change {
		$btn-color: #fff;
		$btn-size: 30px;

		margin-left: 10px;

		button {
			width: $btn-size; height: $btn-size;
			border: 1px solid rgba(0, 0, 0, .3);
			text-transform: uppercase;

			margin: 0 10px;

			&:first-child { margin-right: 7.5px }
			&:last-child { margin-left: 7.5px }
			&:not(:first-child):not(:last-child) { margin: 0 }

			@include transition(.3s);

			&.active { // ЭТО КЛАСС СУКА, А НЕ С ПСЕВДОКЛАСС
				background-color: darken($btn-color, 10%);
			}

			&:hover {
				background-color: darken($btn-color, 15%);
			}

			&:active {
				background-color: darken($btn-color, 18%);
			}
		}
	}
}
