// main: ../../main.scss

$btnPadding: 35px;
$btnWidth: 300px;
$btnPercent: 65%;

.btns {
	user-select: none;

	.container > a {
		display: inline-block;
		width: $btnWidth; height: 500px;
		margin: 0 $btnPadding 0 $btnPadding;

		background-repeat: no-repeat, no-repeat;
		background-color: rgba(158, 129, 162, .9);
		background-position: center center, center center;

		&, &.disabled:hover {
			background-size: $btnPercent, 100%;
		}

		box-shadow: var(--shadow);
		@include transition(.3s);

		&:hover {
			background-size: $btnPercent, 105%;
			//box-shadow: 5px 10px 20px rgba(0, 0, 0, .5);
		}

		&.disabled {
			@include filter(grayscale(100%));
		}
	}

	@each $afon in radio, anime {
		.container a[href*='#{$afon}'] {
			&, &.disabled:hover {
			background-image:
				url('#{$imgPath}/main/#{$afon}-btn.png?v=#{$VERSION}'),
				url('#{$imgPath}/main/#{$afon}-bckg.png?v=#{$VERSION}');}

			&:hover {
				background-image:	url('#{$imgPath}/main/hover-btn.png?v=#{$VERSION}'),	url('#{$imgPath}/main/#{$afon}-bckg.png?v=#{$VERSION}');
			}
		}
	}

	/* предзагрузка кнопки для hover-эффекта */

	&:before {
		content: url('#{$imgPath}/main/hover-btn.png?v=#{$VERSION}');
		width: 0; height: 0;
		position: absolute;
		overflow: hidden;
	}
} // .btns
