// main: ../../main.scss

@media screen and (max-width: #{$pagewidth + 30px}) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
}

@media screen and (max-width: #{$btnPadding * 5 + $btnWidth * 2}) {
	.top-panel {
		.container {
			text-align: center;
		}
	}

	.btns {
		.container > a {
			width: 250px; height: 250px;
			margin: 5px;

			background-position: center center, top -40px center;

			&:hover {
				background-size: $btnPercent, 100%;
			}
		}
	}
}

@media screen and (max-width: 399px) {
	.top-panel {
		.logo { margin-right: 0 }
		.brand { display: none }
	}
}
