// main: ../../anime.scss

// @media screen and (max-width: 1299px) {
// 	.anime {
// 		.player {
// 			& > *:nth-child(1) {
// 				background-position: center center;
// 				background-size: 130%;
// 			}
// 		}
// 	}
// }

@media screen and (max-width: 949px) {
	html, body {
		height: 100vh;
	}

	.container {
		&[data-sidebar-hidden] {
			.player { height: 100% !important }
		}
	}

	.anime {
		.content {
			& > * {
				display: inline-block;
				vertical-align: middle;
				width: 100% !important;
			}

			.player {
				height: 35%;
			}

			.sidebar {
				height: 65%;
			}
		}
	}
}
