// main: _player.scss

.noti {
	display: none;
	position: absolute;

	width: auto; height: auto;
	max-width: 385px; max-height: calc(100% - 100px);

	top: $p--offset; left: $p--offset;
	background-color: #dfe2e9;
	opacity: .8;
	padding: 5px 10px 10px 1.2em; z-index: 2;
	font-size: 20px;
	cursor: default;

	user-select: none;
	@include transition(.5s);

	// &:hover {
	// 	background-color: rgba(255, 255, 255, .85);
	// }

	&-close {
		display: inline-block;
		position: relative;
		cursor: pointer;
		font-size: .8em;
		left: -1.2em;

		@include transition(.3s);

		&:before {
			content: '🗙';
		}

		&:hover {
			opacity: .7;
		}
	}

	&-content {
		margin-top: -1.2em;
		line-height: 1.3em;
		overflow-y: auto;
	}

	&-undis {
		font-size: .7em;
		margin-top: 5px;
	}
}
