.schedule {
	$ggl_t_top: 50px;
	$ggl_t_bot: 28px;
	font-size: .9em;
	padding: 0;
	overflow-y: auto;

	&[data-table-is-empty] {
		display: none
	}

	table {
		width: 100%;
		padding: 5px 0 0;

		caption {
			margin-top: 5px;
			font-size: 1.1em;
		}

		tr {
			&.air {
				&--current {
					background-color: #feff44;
				}
				&--next {
					background-color: #e6e6e6;
				}
				&--notToday {
					opacity: .6;
				}
			}

			td {
				padding: 5px;

				b { font-weight: 500 }

				&:nth-child(1) {
					text-align: center;
					width: 100px;
				}
			}
		}
	}
}
