// main: ../../radio.scss

.player {
	@include flexbox(auto, center, auto, auto);
	$elemHeight: 50px;
	padding: 0;

	user-select: none;

	& > * {
		@include flexbox(auto, center, center, auto);
		height: $elemHeight;
	}

	&.only-one {
		.player-controls {
			width: 100%;

			[data-ctrl='volume'] { width: 100% }
			.on-mobile { width: auto }
		}

		.player-change { display: none }
	}

	&.mayday { display: none }

	&-controls {
		background-color: #fff;
		font-size: 0;

		[data-ctrl='playpause'] {
			height: 100%; width: $elemHeight;
			border-right: 1px solid rgba(0, 0, 0, .1);

			color: var(--prime-color-10d);
			@include transition(.5s);

			&:hover {
				color: var(--prime-color-5d);
			}

			.icon {
				font-size: 2em;

				&.loading {
					animation: loading-anim 1s infinite;
					cursor: wait;
				}
			}
		}

		[data-ctrl='volume'] {
			$elemHeight: 15px;
			cursor: pointer;
			width: 100px; height: $elemHeight;
			margin: 0 10px;
			border: 1px solid rgba(0, 0, 0, .1);

			@each $browser, $track, $range in (webkit, 'slider-runnable', slider), (moz, range, range) {
				-#{$browser}-appearance: none;

				&::-#{$browser}-#{$track}-track {
					height: 100%;
					background: linear-gradient(to right, var(--prime-color-10d) 0%, var(--prime-color-10d) var(--volume), transparent var(--volume), transparent 100%);
				}

				&::-#{$browser}-#{$range}-thumb {
					$btn-color: #fff;
					-#{$browser}-appearance: none;
					width: 10px; height: #{$elemHeight + 10px};
					margin-top: #{10px / 2 * -1};
					background-color: $btn-color;
					border: 1px solid #999;
					cursor: pointer;
					border-radius: 0;

					@include transition(.2s);

					&:hover {
						background-color: darken($btn-color, 5%);
					}

					&:active {
						background-color: darken($btn-color, 10%);
						transform: scale(1.1);
					}
				}
			}
		}

		&.on-mobile {
			[data-ctrl='playpause'] {
				border-right: 0;
			}

			[data-ctrl='volume'] {
				display: none;
			}
		}
	}

	&-change {
		$btn-color: #fff;
		$btn-size: 30px;

		margin-left: 10px;

		input {
			@include disable-appearance;

			width: $btn-size; height: $btn-size;
			border: 1px solid rgba(0, 0, 0, .3);

			margin: 0 10px;
			cursor: pointer;

			&:first-child { margin-right: 7.5px }
			&:last-child { margin-left: 7.5px }
			&:not(:first-child):not(:last-child) { margin: 0 }

			&:after {
				@include flexbox(auto, center, center, auto);
				width: 100%; height: 100%;
				content: attr(value);
				text-transform: uppercase;
			}

			@include transition(.3s);

			&:checked {
				background-color: darken($btn-color, 10%);
			}

			&:hover {
				background-color: darken($btn-color, 15%);
			}

			&:active {
				background-color: darken($btn-color, 18%);
			}

			&[disabled] {
				opacity: .8;
				cursor: not-allowed;
			}
		}
	}
}
