// main: ../../radio.scss

.vk-posts {
	height: 330px;
	margin-top: 10px;
	overflow-y: scroll;

	&.api-err {
		height: auto;
		overflow-y: auto;
		text-align: center;
		padding: 5px;
	}

	.vk-post {
		border-top: 1px solid #ccc;
		padding: 5px 5px 0;
		clear: both;

		&-meta {
			margin: 5px 0 10px;
			cursor: default;
		}

		&.is-copy {
			display: none;
		}

		&-body {
			padding-bottom: 5px;

			a {
				&.link2img {
					display: inherit;
					border-bottom: 0;
				}

				img {
					width: 85px;
					float: left;
					margin: 5px 10px 10px 0;
				}
			}

			p {
				clear: none;
			}
		}

		&:first-child {
			border-top: 0;
		}
	}
}
