// main: ../../radio.scss

footer {
	text-align: center;
	font-size: $fontSize;
	margin: 25px 0;

	p {
		padding: 0 5px;
		line-height: 1.5em;
		color: rgba(128, 128, 128, .5);
	}

	a {
		color: rgba(128, 128, 128, .5);
		@include transition(.3s);
		text-decoration: none;

		&:hover {
			color: rgba(128, 128, 128, .8);
		}
	}
}
