// main: ../../radio.scss

@media screen and (max-width: #{$pageWidth - 1px}) {
	.radio, footer div {
		width: calc(100% - 20px);
	}
}

@media screen and (max-width: 699px) {
	.radio {
		flex-direction: column;

		.content {
			padding: 0 5px 5px;
			order: 2;
		}

		aside {
			order: 1;
			min-width: auto;
			width: 100%;
			padding: 0 5px;
			margin: 0 auto;

			.noti {
				&-content {
					text-align: center;
				}
			}

			.player {
				$elemHeight: 70px;
				flex-direction: column;
				font-size: 1.5em;

				& > * {
					height: $elemHeight;
					margin: 0 auto;
				}

				&-controls {
					[data-js-action='changePlayerState'] {
						width: $elemHeight;

						&:before {
							left: 15px;
						}

						&[data-state='stop']:before,
						&[data-state='loading']:before {
							top: 10px;
							border-width: 25px 40px;
						}

						&[data-state='play']:before {
							width: 40px; height: 40px;
							top: 15px;
						}
					}
				}

				&-change {
					width: 100%;
					margin-left: 0;
					margin-top: 10px;

					/*
					 * 35px: 10px отступы у крайних + по 7.5px отступы у средней кнопки
					 */

					li {
						width: calc((100% - 35px) / 3);
						height: #{$elemHeight / 2};
					}
				}
			}

			.radio-state {
				width: 100%;
			}

			.songs-box { display: none }
		}
	}
}
