// main: ../../anime.scss

:root[data-theme='old-gray'] {
	$primeColor: #464646;
	--top-panel-color: darken($primeColor, 5%);
	--tab-hover-color: darken($primeColor, 8%);
	--tab-active-color: darken($primeColor, 13%);
	--tab-border-color: darken($primeColor, 3%);
}
