$primecolor: #000;

.event {
	&--halloween-2016 {
		body {
			background-image: url('../img/events/halloween-2016/bckg.png'), linear-gradient(to top, rgb(240,100,10) 60%, rgb(210,60,5));
		}

		.top-panel {
			& {
				background-color: $primecolor;
			}

			.logo {
				background-color: $primecolor;
			}
		}

		::-webkit-scrollbar-button {
				background: lighten($primecolor, 30%);
		}

		::-webkit-scrollbar-track-piece {
				background: lighten($primecolor, 20%);
		}

		::-webkit-scrollbar-thumb {
					background: lighten($primecolor, 5%);

					&:hover {
						background: lighten($primecolor, 10%);
					}
		}

		.btns {
			.container > a {
				background-color: rgb(240,100,10);
			}

			@each $afon in anime, radio {
				.container a[href*='#{$afon}'] {
					background-image: url('../img/events/halloween-2016/#{$afon}-btn.png'), url('../img/events/halloween-2016/#{$afon}-fon.png');
				}
				.container a[href*='#{$afon}']:hover {
					background-image: url('../img/events/halloween-2016/hover-btn.png'), url('../img/events/halloween-2016/#{$afon}-fon.png');
				}
			}
		}

		.css-preload {
			background-image: url('../img/events/halloween-2016/hover-btn.png');
		}

		footer p {
			color: rgba(200, 200, 200, 0.5);
		}
	}
}
