// main: ../../player.scss

&.online {
	.player-song.search {
		display: block;
	}

	.player-elem.djname, .player-elem.listeners {
		display: flex;
	}
}

&.offline {
	.player-song.search, .player-elem.djname, .player-elem.listeners {
		display: none;
	}
}
