// main: ../../pages.scss

@media screen and (max-width: #{$pagewidth + 30px}) {
	//:root { --font-size: 20px; }

	.container {
		width: 100%;
		padding: 0 10px;
	}

	.top-panel {
		.container {
			text-align: center;
		}
	}

	.page {
		padding: 0 1em;

		.container {
			padding: .1em 1em 1em;

			& > section h1 {
				text-align: center;
			}

			a[href^='#'] { display: none; }
		}
	}
}

@media screen and (max-width: 399px) {
	.top-panel {
		.logo { margin-right: 0 }
		.brand { display: none }
	}
}
