.page {
	$link-color: darken($primeColor, 15%);
	font-family: Roboto, Arial, sans-serif;
	font-size: var(--font-size);
	line-height: 1.65em;
	text-align: left;

	.container {
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: var(--shadow);
		padding: 1em 1.5em;

		section { // для вообще всех секций, тех что вложенны в другие в том числе
			margin-top: .8em;
		}

		& > section { // для "рутовых" секций
			margin-top: 1em;

			&:first-child {
				margin-top: 0;
			}
		}

		h1, h2 {
			margin: .3em 0 .4em;
		}

		.anchor {
			font-size: .8em;
			margin-left: .3em;
		}

		p {
			margin: .5em 1em;
		}

		@import '../links_style';
		a[href^="#"] { border-bottom: 0 !important }

		ul, ol {
			margin: 0 1em;
		}

		p, ul, ol {
			&:first-of-type {	margin-top: 0 }
			&:last-of-type { margin-bottom: 0 }
		}

		ul {
			li {
				list-style: disc;
				margin: .3em 0;
			}

			&.list {
				li {
					&:after {
						content: ';';
					}

					&:last-child:after {
						content: '.'
					}
				}
			}
		}
	}
}

/*
 * Фикс для Edge
 */

@supports (-ms-ime-align: auto) {
	.page { line-height: 1.4 }
}

script {
	display: none;
	visibility: hidden;
	width: 0; height: 0;
	font-size: 0;
}

q {
	&:before {content: '\300c'}
	&:after {content: '\300d'}
}
