.player {
	background-color: #000;

	& > *:nth-child(1) {
		background-image: url('/files/img/anime-offline.png');
		background-repeat: no-repeat;
		//background-position: center bottom;
		background-position: left bottom;
		background-size: cover;
	}

	$p--offset: 10px;

	@import 'player__noti';

	/*.super-ctrls {
		position: absolute;
		width: 100%; height: 130px;
		pointer-events: none;
		top: 0; z-index: 2;

		&:hover .stream-selector {
			display: block;
		}

		.stream-selector {
			display: none;
			position: absolute;
			width: auto; height: auto;
			top: $p--offset; right: $p--offset;
			padding: 2px; z-index: 3;
			font-size: 13px;
			opacity: .2;

			@include transition(.5s);

			&:hover {
				opacity: 1;
				pointer-events: none;
			}
		}
	}*/

	@import 'player--noflash';
}
