// main: _player.scss

.warnings {
	display: none;
}

&[data-error] {
	background-color: #fff;

	& > *:nth-child(1) {
		display: none !important;
	}

	.noti {
		background-color: rgba(241, 241, 241, .8);
	}

	.warnings {
		@include flexbox(auto, center, center, auto);
		height: 100%;
		padding: 10px 5px;
		font-size: 17px;

		& > * {
			display: none;
		}
	}
}

&[data-error='api'] {
	.api {
		display: block;

		p {
			text-align: center;
			line-height: 1.4em;
			color: #000;
		}
	}
}
