// main: _player.scss

&.noflash {
	background-color: #fff;

	& > *:nth-child(1) {
		display: none !important;
	}

	.warning {
		@include flexbox(auto, center, center, auto);
		height: 100%;
		padding: 0 5px;

		p {
			text-align: center;
			font-size: 17px;
			line-height: 1.3em;
			color: #000;
		}

		kbd {
			display: block;
			background-color: #a2a2a2;
			//height: 1.5em;
			//padding: 2.5px 0;
			padding: 2.5px 5px;
			margin-top: 10px;
			border-radius: 5px;
			white-space: nowrap;
			text-align: center;
			color: #fff;
		}
	}

	.noti {
		background-color: rgba(241, 241, 241, .8);
	}
}
