// main: _tabs.scss

&[data-tab="news"] {
	font-size: 14px;
	overflow-y: scroll;

	.vk-news {
		&-header {
			text-align: center;
			padding: 10px 0;
			border-bottom: 1px solid #e4e4e4;
		}

		.vk-post {
			border-top: 1px solid #ccc;
			padding: 5px 5px 0;
			clear: both;

			&-meta {
				margin: 5px 0 10px;
			}

			&.is-copy {
				display: none;
			}

			&-body {
				//display: flex;
				padding-bottom: 5px;

				a {
					&[href$=".jpg"] {
						border-bottom: 0;
					}

					img {
						width: 85px;
						float: left;
						margin: 5px 10px 10px 0;
					}
				}

				p {
					clear: none;
				}
			}

			&:first-child {
				border-top: 0;
			}
		}
	}
}
