// main: ../../anime.scss

.tabs {
	$tabColor: $top-panel--color;
	$tabBorderColor: darken($tabColor, 3%);
	$tabCelHeight: 25px;

	ul {
		height: $tabCelHeight;
		font-size: 0;
		user-select: none;

		li {
			display: inline-block;
			background-color: $tabColor;
			//width: 50%;
			width: calc(100% / 3);
			height: 100%;
			padding: 2px;
			font-size: 16px;
			text-align: center;
			color: #fff;
			list-style: none;
			cursor: pointer;

			border-left: .5px solid $tabBorderColor;
			border-right: .5px solid $tabBorderColor;

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}

			&:hover {
				background-color: darken($tabColor, 5%);
			}

			&.active {
				background-color: darken($tabColor, 10%);

				&:hover {
					background-color: darken($tabColor, 10%);
				}
			}
		}
	}

	section {
		display: none;
		width: 100%;
		height: calc(100% - #{$tabCelHeight});
		overflow: hidden;

		@import 'tabs__tab--shed', 'tabs__tab--news';
	}

	noscript {
		@include flexbox(auto, center, center, auto);

		height: 100%;
		min-height: 200px;
		font-size: 16px;
		text-align: center;
		padding: 0 5px;

		p {
			margin: 5px 0;
		}
	}
}
