
/* NY lazy special */

body {
	background-image: url('/files/img/events/newyear-2016/bckg.png') !important;
	background-size: 126% !important;
}

.top-panel .logo {
	background-image: url('/files/img/events/newyear-2016/logo.png') !important;
}

/* /ny */
