// main: ../../main.scss

footer {
	text-align: center;
	font-size: 16px;
	margin: 25px 0;
	cursor: default;

	p {
		padding: 0 5px;
		color: rgba(128, 128, 128, .5);
	}

	a {
		color: rgba(128, 128, 128, .5);
		@include transition(.3s);
		text-decoration: none;

		&:hover {
			color: rgba(128, 128, 128, .8);
		}
	}
}
