&[data-theme="light"] {
	background: $top-panel--color;
	background-repeat: no-repeat;

	border: 1px solid lighten($top-panel--color, 5%);
	color: #fff;

	$btn-color: #fff;

	a {
		color: $btn-color;
		text-decoration: none;
		@include transition(.3s);

		&:hover {
			color: darken($btn-color, 5%);
		}
	}

	.player-ctrl {
		&.playpause, &.mute {
			color: $btn-color;

			&:hover {
				color: darken($btn-color, 10%);
			}
		}
	}

	.player-elem {
		border-right: 1px solid lighten($top-panel--color, 10%);
	}
} // &[data-theme="light"]
