@import 'src/every';

$pagewidth: 1000px;

@import
	'src/topbar',
	'src/anime/themes';

//@import 'src/anime/special';

.anime {
	width: 100%;
	height: calc(100vh - #{$top-panel--height});

	& > * {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	$tabswidth: 400px;
	$resizecontrol: 0;

	.player {
		width: calc(100% - #{$tabswidth + $resizecontrol});
		position: relative;
		overflow: hidden;
	}

	.tabs {
		width: $tabswidth;

		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}

	&.notabs {
		// overflow-y: hidden;
		//
		// .player, .chat {
		// 	@include transition(1s);
		// }

		.player {
			width: 100%;
		}

		.tabs {
			display: none;
			// position: fixed;
			// right: -$tabswidth;
		}
	}
}

@import
	'src/anime/player', // Стилизация плеера и находящихся в нём элементов
	'src/anime/tabs'; // src/anime/tabs

@import 'src/anime/mediaq';
