@import 'src/mixins', 'src/vars';

@include reset;

$pagewidth: 960px;

@import 'src/scrollbar';

body {
	@at-root html, & {
		width: 100%; height: 100%;

		overflow-x: hidden;
		font-size: 0;
	}

	background-image: url('#{$imgpath}/bckg.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.top-panel, .page {
	width: 100%;
	text-align: center;
}

.container {
	width: $pagewidth;
	font-family: Roboto, Arial, sans-serif;
	margin: 0 auto;
}

@import
	'src/main/top-panel',
	'src/pages/page';

footer {
	text-align: center;
	font-size: 16px;
	margin: 25px 0;
	cursor: default;

	p {
		padding: 0 5px;
		color: rgba(128, 128, 128, .5);
	}
}

@import 'src/pages/mediaq';
