@import
	'src/mixins',
	'src/vars';

@include reset;
@include selection(darken($primecolor, 5%), #fff);

$pagewidth: 960px;

@import 'src/scrollbar';

body {
	@at-root html, & {
		width: 100%; height: 100%;

		overflow-x: hidden;
		font-size: 0;
	}

	background-image: url('#{$imgpath}/main/bckg.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.top-panel, .page {
	width: 100%;
	text-align: center;
}

.container {
	width: $pagewidth;
	font-family: Roboto, Arial, sans-serif;
	margin: 0 auto;
}

@import
	'src/main/top-panel',
	'src/pages/page',
	'src/main/footer',
	'src/pages/mediaq';
