@import
	'src/mixins',
	'src/vars',
	'src/scrollbar',
	'fonts/style';

@import 'src/every';

body {
	background-color: #f4f4f4;
}

:root {
	--volume: 50%;
}

// @TODO придумать более "изящный" способ кастомизации

.page-element {
	background-color: #fff;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
	border-radius: 2px;
}

$pageWidth: 1200px;
$fontSize: 16px;

@import 'src/topbar';

.radio {
	@include flexbox(auto, center, auto, auto);
	width: $pageWidth;
	margin: 10px auto;
	font-size: 0;

	& > * {
		// display: inline-block;
		// vertical-align: top;
		font-size: $fontSize;
	}

	$sideWidth: 320px;

	.content {
		width: 100%;
		order: 1;
	}

	aside {
		width: $sideWidth;
		order: 2;
	}

	&.error {
		& > * { display: none }
		.error-box { display: block }
	}

	.error-box {
		@extend .page-element;
		display: none;
		width: 100%;
		padding: 10px;
		text-align: center;

		p {
			margin: 5px 0;
		}
	}
}

.content {
	.chat {
		@extend .page-element;
		padding: 5px;

		iframe {
			width: 100%;
			height: 450px;
			border: 0;
		}
	}

	@import 'src/radio/content__vk-news';
}

aside {
	$sideBckgColor: #ccc;
	padding-left: 15px;

	.side-content {
		//background-color: $sideBckgColor;
		margin-bottom: 10px; // @TODO совместить маргины

		&:empty {
			display: none;
		}
	}

	button {
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}

	@import
		'src/radio/aside__noti',
		'src/radio/aside__player',
		'src/radio/aside__radio-state';

	.radio-live {
		@include flexbox(row, center, auto, auto);
		text-align: center;

		.curr-rj {
			@extend .page-element;
			width: 100%;
			font-size: .9em;
			padding: 5px;

			p {
				&:first-child {
					font-size: 1.1em;
				}

				&:last-child {
					font-style: italic;
				}
			}
		}

		.curr-lstn {
			@include flexbox(auto, center, center, auto);
			@extend .page-element;
			width: 40px;
			margin-left: 10px;

			user-select: none;
			cursor: help;
		}
	}

	.songs-box {
		font-size: .9em;
		@extend .page-element;
		padding: 0;

		table {
			width: 100%;
			padding: 5px;

			caption {
				margin-top: 5px;
				font-size: 1.1em;
			}

			tr {
				td {
					padding: 2px;
					vertical-align: middle;
				}

				td:nth-child(odd){
					font-weight: bold;
					text-align: center;
				}

				td:nth-child(even){
					padding-left: 5px;;
				}
			}
		}

		.msk-time-note {
			border-top: 1px solid rgba(0, 0, 0, .1);
			padding: 5px 2.5px;
			font-size: .9em;
			text-align: center;

			user-select: none;
			cursor: default;
		}
	}
}

menu[type="context"] {
	display: none;
}

@import
	'src/radio/footer',
	'src/radio/mediaq';
