@import '../inc/vars';
@import '../inc/mixins';

html, body, #jw-player, .warning {
	width: 100%; height: 100%;
}

html, body {
	margin: 0; padding: 0;
	overflow: hidden;
}

#jw-player {
	&:empty { display: none }

	&.jwplayer {
		width: 100% !important;
		height: 100% !important;
		border: 0;
		z-index: 1;
	}
}

.jwplayer {
	&.jw-flag-aspect-mode {
		height: 100% !important;
	}

	& .jw-controlbar {
		width: 150px !important;
		opacity: .8;
	}

	&:not(.jw-state-playing):not(.jw-flag-flash-blocked) .jw-preview {
		display: block !important;
		background-image: url('#{$imgPath}/anime-offline.png?v=#{projectVer}');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
	}

	&:not(.jw-flag-user-inactive) .jw-controlbar {
		display: flex !important;
		justify-content: center;
	}

	.jw-rightclick,
	*[class*='ads'],
	[role='timer'],
	.jw-icon-rewind,
	.jw-controlbar-center-group {
		display: none !important;
	}
}
