@import 'scss/mixins'; // миксины
@import 'fonts/style'; // иконочные шрифты

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 0; margin: 0;
}

// @keyframes online-blink {
// 	0% {@include filter(brightness(1))}
// 	25% {@include filter(brightness(.85))}
// 	50% {@include filter(brightness(.7))}
// 	75% {@include filter(brightness(.85))}
// 	100% {@include filter(brightness(1))}
// }

html, body, .container {
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	font-size: 0;
}

script {
	display: none;
	visibility: hidden;
	width: 0; height: 0;
	font-size: 0;
}

body {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	//min-width: 350px;
}

//$primecolor: #f0640a;
$primecolor: #FF305E;
$pagewidth: 1000px;

@import 'scss/topbar';

.container {
	font-family: Roboto, Arial, sans-serif;
}

q {
	&:before {content: '\300c'}
	&:after {content: '\300d'}
}

.anime {
	width: 100%;
	height: calc(100% - #{$top-panel--height});

	& > * {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	$tabswidth: 400px;
	$resizecontrol: 0;

	.player {
		width: calc(100% - #{$tabswidth + $resizecontrol});
		position: relative;
		overflow: hidden;

		& > * {
			width: 100%;
			height: 100%;
			border: 0;
			z-index: 1;
		}
	}

	.tabs {
		width: $tabswidth;

		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}

	&.notabs {
		// overflow-y: hidden;
		//
		// .player, .chat {
		// 	@include transition(1s);
		// }

		.player {
			width: 100%;
		}

		.tabs {
			display: none;
			// position: fixed;
			// right: -$tabswidth;
		}
	}

	a {
		text-decoration: none;
		color: $primecolor;
		border-bottom: 1px dashed $primecolor;

		@include transition(.3s);

		// @supports (text-decoration-style: dotted) {
		// 	text-decoration: underline dotted;
		// 	border-bottom: 0;
		// }

		&:visited {
			color: $primecolor;
		}

		&:hover {
			// color: darken($primecolor, 15%);
			// border-bottom: .5px solid darken($primecolor, 15%);
			color: darken($primecolor, 10%);
			border-bottom: 1px solid darken($primecolor, 10%);

			// @supports (text-decoration-style: dotted) {
			// 	text-decoration-style: solid;
			// 	border-bottom: 0;
			// }
		}
	}
}

.player {
	background-color: #000;

	& > *:nth-child(1) {
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
	}

	$p--offset: 10px;

	.noti {
		display: none;
		position: absolute;
		width: auto; height: auto;
		max-width: 385px; max-height: calc(100% - 100px);
		top: $p--offset; left: $p--offset;
		background-color: rgba(255, 255, 255, .8);
		padding: 5px 5px 10px 1.2em; z-index: 999;
		font-size: 20px;
		cursor: default;

		@include user-select(none);
		@include transition(.5s);

		// &:hover {
		// 	background-color: rgba(255, 255, 255, .85);
		// }

		&-close {
			display: inline-block;
			position: relative;
			cursor: pointer;
			left: -.8em;

			@include transition(.3s);

			&:hover {
				color: #ff6c6c;
			}
		}

		&-content {
			margin-top: -1.2em;
			line-height: 1.3em;
			overflow-y: auto;
		}

		&-undis {
			font-size: .7em;
			margin-top: 5px;
		}
	}

	// .stream-selector {
	// 	display: none;
	// 	position: absolute;
	// 	width: auto; height: auto;
	// 	bottom: $p--offset; left: $p--offset;
	// 	padding: 2px; z-index: 999;
	// 	font-size: 13px;
	// 	opacity: .2;
	//
	// 	@include transition(.5s);
	//
	// 	&:hover {
	// 		opacity: 1;
	// 	}
	// }

	&.noflash {
		background-color: #fff;

		& > *:nth-child(1) {
			display: none !important;
		}

		.warning {
			@include flexbox(auto, center, center, auto);

			p {
				text-align: center;
				font-size: 17px;
				line-height: 1.3em;
				color: #000;
			}

			kbd {
				display: block;
				background-color: #a2a2a2;
				//height: 1.5em;
				//padding: 2.5px 0;
				padding: 2.5px 5px;
				margin-top: 5px;
				border-radius: 5px;
				white-space: nowrap;
				text-align: center;
				color: #fff;
			}
		}

		.noti {
			background-color: rgba(241, 241, 241, 0.8);
		}
	}
}

.tabs {
	$tabcolor: $top-panel--color;
	$tabcelheight: 25px;

	ul {
		height: $tabcelheight;
		font-size: 0;
		@include user-select(none);

		li {
			display: inline-block;
			background-color: $tabcolor;
			//width: 50%;
			width: calc(100% / 3);
			height: 100%;
			padding: 2px;
			font-size: 16px;
			text-align: center;
			color: #fff;
			list-style: none;
			cursor: pointer;

			border-left: .5px solid darken($tabcolor, 3%);
			border-right: .5px solid darken($tabcolor, 3%);

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}

			&:hover {
				background-color: darken($tabcolor, 5%);
			}

			&.active {
				background-color: darken($tabcolor, 10%);

				&:hover {
					background-color: darken($tabcolor, 10%);
				}
			}
		}
	}

	[id*='tab_'] {
		display: none;
		width: 100%;
		height: calc(100% - #{$tabcelheight});
		overflow: hidden;
	}

	#tab_shed {
		$ggl_t_top: 50px;
		$ggl_t_bot: 28px;

		overflow-y: auto;

		iframe {
			height: calc(100% + #{$ggl_t_top + $ggl_t_bot});
			margin-top: #{$ggl_t_top * -1};
		}

		table {
			font-size: 14px;
			width: 100%;

			tr {
				&.air {
					&--finished {
						opacity: .4;
					}
					&--current {
						background-color: #feff44;
					}
					&--next {
						background-color: #d8d8d8;
					}
					&--notToday {
						opacity: .6;
					}
					&--tooOld {
						display: none;
					}
				}

				td {
					padding: 5px;

					&:nth-child(1) {
						text-align: center;
						width: 100px;
					}
				}
			}
		}
	}

	#tab_news {
		#vk_group {
			height: 100% !important;
			//width: 100% !important;
			margin: 0 auto;
			iframe {
				height: 100% !important;
				//width: 100% !important;
			}
		}
	}

	noscript {
		@include flexbox(auto, center, center, auto);

		height: 100%;
		min-height: 200px;
		font-size: 16px;
		text-align: center;
		padding: 0 5px;

		p {
			margin: 5px 0;
		}
	}
}

@media screen and (max-width: 1299px) {
	.anime {
		.player {
			& > *:nth-child(1) {
				background-position: center center;
				background-size: 130%;
			}
		}
	}
}

@media screen and (max-width: 799px) {
	.anime {
		& > * {
			display: inline-block;
			vertical-align: middle;
			height: auto; width: 100% !important;
		}

		.player {
			height: 40%;
			min-height: 350px;
		}

		.tabs {
			height: 60%;
			min-height: 400px;
		}

		&.notabs {
			.player {
				height: 100%;
			}
		}
	}
}
