@import 'scss/mixins'; // миксины
@import 'scss/vars'; // переменные

/* Вырезание "шапки" */
body {
	background-color: transparent;
}

.chat {
	border: none !important;

	&Header {
		height: 0;

		.chatTitle {
			display: none;
		}
	}

	&Main {
		top: 0;
	}

	& .chatPeopleTitle {
		padding-top: 40px;
	}

	&SendLinksPanel {
		& .chatLinkGold,
		& .chatLinkProfile,
		& .chatSendLinksPanel {
			display: none;
		}
	}

	&TopLineWrapper a {
		&[href*="photos"], &[href*="cat=bal"], &[href*="guests"], &[href*="gallery"], &[href*="news"] {
			display: none;
		}
	}

	&Main {
		background-image: none !important;
	}

	&UserFrom, &People ul.chatPeopleList li a.chatUser {
    color: #c5c5c5 !important;
	}

	&Main, &Footer, &EventDiv, &PopupMenuDiv1, &PopupMenuDiv2, .smilesBox, &People ul.chatPeopleList li.hover {
		background-color: #464646;
	}
}

a[href*='?cat=vip'], .chatLinkImage {
	display: none !important;
}

/* Эмодзи у нас - общие для всех. По крайней мере, пока. */
.chat .smilesBox p {
	& {
		font-size: 0;
	}

	&:last-child {
		display: none;
	}
}

/* Иконки в списке пользователей */
.chatPeople .chatPeopleList img {
	display: none;
}

.chatUserVip {
	background: none;
}

.chat, .chatHeader {
	border-color: transparent;
	background-color: transparent;
}

/* Все эмодзи одного размера */
.chatMessage img[alt*=":"], .chat .smilesBox a[onclick*="chatSmile"] img {
	max-height: 64px;
	padding: 0 2px;
}

strong {font-weight: normal;}
em {font-style: normal;}

.chatMessage {
	color: #fff;
}

.chatMessage span:not([class*="User"]) {color: #fff !important;}
.chatMessageToMe .chatToUser {color: #fff !important;}
.chatMessage .chatUserFrom span[style] {color: #ff0000 !important;}
.chatUserIcon { display: none; }
.chatUserWrapper { margin-left: 0; }

#scrollBottomBox {
	background-color: #fff !important;
}
