p Кажется, Ваш браузер не поддерживает #[a(href='https://get.adobe.com/ru/flashplayer/' target='_blank' rel='nofollow noopener') Flash]! (ну или он у Вас просто выключен).
p Воспользуйтесь для просмотра любым плеером, который поддерживает RTMP (например, VLC):
p
	kbd rtmp://<wbr>video.eientei.org<wbr>/live/AsianWave
