- var projectVer = '2.0.5'
- var title = 'Asian Wave'
- var domain = 'asianwave.ru'
- var url = `https://${domain}`
- var description = 'Мультимедийный портал для поклонников азиатской культуры всех жанров и типов'
- var paths = { js: '/files/js', css: '/files/css', img: '/files/img' }
- var urls = { favicon: '/files/img/favicon.png', manifest: '/.webmanifest', sitemap: '/sitemap.php', donate: 'http://www.donationalerts.ru/r/asianwave', requests: { anime: 'https://vk.com/topic-120842574_34298486', radio: 'https://vk.com/topic-120842574_33906364' } }
