- var projectVer = '2.0.6'
- var title = 'Asian Wave'
- var domain = 'asianwave.ru'
- var description = 'Мультимедийный портал для поклонников азиатской культуры всех жанров и типов'
- var paths = { js: '/files/js', css: '/files/css', img: '/files/img' }
- var URLs = { same: `https://${domain}`, favicon: '/files/img/favicon.png', manifest: '/.webmanifest', sitemap: '/sitemap.php', donate: 'http://www.donationalerts.ru/r/asianwave', requests: { anime: 'https://vk.com/topic-120842574_34298486', radio: 'https://vk.com/topic-120842574_33906364' } }
- var libsVer = { baloon: '0.4.0', fetch: '2.0.3', moment: { same: '2.18.1', timezone: '0.5.13' }, isMobile: '0.4.1', clappr: { same: '0.2.66', dash: '2.0.7' } }
