- var projectVer = '2.0.4'
- var title = 'Asian Wave'
- var domain = 'asianwave.ru'
- var url = `https://${domain}`
- var description = 'Мультимедийный портал для поклонников азиатской культуры всех жанров и типов'
- var urls = { favicon: '/files/img/favicon.png', manifest: '/.webmanifest', sitemap: '/sitemap.php', donate: 'http://www.donationalerts.ru/r/asianwave' }
- var favicon = urls.favicon
