footer
	div(class=isIndexTmpl ? 'container' : '')
		p #[span(data-lang='site_description') #{description}].
		p 2016 &ndash; #{new Date().getFullYear()} &#9829; #[a(href='/about' data-lang='about') О проекте]
