footer
	div(class=isIndexTmpl ? 'container' : '')
		p #[a(href='/' rel='home') #{title}] &ndash; #{description.toLowerCase()}.
		p &#9829; 2016 &ndash; #{new Date().getFullYear()} &middot; #[a(href='/about') О проекте]
