p В Вашем браузере сейчас отключен JavaScript!
p К сожалению, из-за этого функционал нашего сайта для Вас недоступен.
br
p Включите его сами, или воспользуйтесь #[a(href='https://yandex.ru/support/common/browsers-settings/browsers-java-js-settings.xml' target='_blank' rel='nofollow noopener') данной инструкцией], пожалуйста.
p У нас круто, и это определённо будет стоить затраченных усилий.
br
p Спасибо! ヽ(・∀・)ﾉ
