- const description = 'Мультимедийный портал для поклонников азиатской культуры всех жанров и типов'
- const URLs = { same: `https://${domain}`, favicon: `${PATHS.img}/favicon.png?v=${VERSION}`, manifest: `/wave.webmanifest?v=${VERSION}`, sitemap: '/sitemap.php', donate: '/rdr--donate', vk: 'https://vk.com/public120842574', requests: { radio: 'https://vk.com/topic-120842574_37042517' }, chat: 'https://asianwaveru.chatovod.ru' }
- const libsVer = { baloon: '0.5.0', moment: { same: '2.21.0', timezone: '0.5.14' }, isMobile: '0.4.1' }
