- var projectVer = '2.1.5'
- var title = 'Asian Wave'
- var domain = 'asianwave.ru'
- var description = 'Мультимедийный портал для поклонников азиатской культуры всех жанров и типов'
- var paths = { js: '/files/js', css: '/files/css', img: '/files/img' }
- var URLs = { same: `https://${domain}`, favicon: `${paths.img}/favicon.png`, manifest: '/.webmanifest', sitemap: '/sitemap.php', donate: '/rdr--donate', vk: 'https://vk.com/public120842574', requests: { anime: 'https://vk.com/topic-120842574_34298486', radio: 'https://vk.com/topic-120842574_33906364' }, chat: 'https://asianwaveru.chatovod.ru' }
- var libsVer = { baloon: '0.5.0', fetch: '2.0.3', moment: { same: '2.19.1', timezone: '0.5.13' }, isMobile: '0.4.1', clappr: { same: '0.2.75', dash: '2.0.8' } }
